body {
    color: #7a2121;
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background: rgba(205, 189, 129, 0.4);
}

header {
    margin: 0;
    padding: 1rem 0 0 0;
}

nav {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav  button {
    color: #7a2121;
    border-radius: 15px 15px 0 0;
    background: transparent;
    height: 2.3rem;
    width: 5.3rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

li {
    border: none;
}

.active {
    border: rgba(220, 185, 106, 0.5) solid 1px;
    border-bottom: none;
    background-color: rgba(220, 185, 106, 0.5);
}

